body, html{
	margin: 0;
	padding: 0;
}

*{
	font-family: 'Cinzel', serif;
}

main{
	margin-top: 200px;
}

.main-title{
	text-align: center;
}
.actu-title{
	text-align: center;
}

.art{
	margin: 20px 0px;
}

.article-title{
	padding-top: 10px;
}


.article-p{
	font-family: 'EB Garamond', serif;
}

