body, html{
	margin: 0;
	padding: 0;
}

*{
	font-family: 'Cinzel', serif;
}

main{
	margin-top: 200px;
}

.main-title{
	text-align: center;
}

.art{
	margin: 20px 0px;
}

.article-title{
	padding-top: 10px;
}

<<<<<<< HEAD
.article-p{
	font-family: 'EB Garamond', serif;
}
=======
>>>>>>> d4ee21656aa0a110980337d1ff5ac0af6b0caa8c
